<nav>
    <ul class="nav-group">
        <li class="nav-item"><img src="/images/logo-blue2-369-299.png" width="123" height="100"></li>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/blog/blog-list">Blog</a></li>
        <li class="nav-item"><a href="/projects">Projects</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
</nav>