<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <header>
        <%- include('../partials/_header') %>
    </header>
    <aside></aside>
    <main>
        <section class="container">
            <div class="section-hero"></div>
            <h1><%= pageTitle %></h1>
            <time datetime="2021-06-16">June 16 2021</time>
        </section>
    </main>
    <footer>
        <%- include('../partials/_footer') %>
    </footer>
</body>
</html>