<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <header>
        <%- include('../partials/_header') %>
    </header>
    <aside></aside>
    <main>
        <section class="container">
            <h1>Contact</h1>
        </section>
    </main>
    <footer>
        <%- include('../partials/_footer') %>
    </footer>
</body>
</html>