<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <header>
        <%- include('../partials/_header') %>
    </header>
    <aside>
        <div class="aside-content">
            <h3>Andre Gonzales</h3>
            <code>+ Code Addict +</code><br>
            <a href="mailto:andre@knucklecuts.com">Contact</a>
        </div>
    </aside>
    <main>
        <section class="container">
            <h1>Work In Progress</h1>
            
        </section>
    </main>
    <footer>
        <%- include('../partials/_footer') %>
    </footer>
</body>
</html>